

.cricket-wrapper{
    padding: 15px;
    font-family: 'Lato', sans-serif;
    h3{
        margin: 0;
        color: #07080a;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
    }
    .in-play{
        color:#38a434;
        font-weight: 700;
        font-size: 18px;
    }
}