<div class="transfarStatement bg-img">
    <h2 class="page-title">Open Bets</h2>
    <form [formGroup]="filterForm">
        <div class="datePicker">
            <mat-form-field color="accent" appearance="fill">
                <input matInput [matDatepicker]="picker1" (click)="picker1.open()" readonly="readonly"
                    placeholder="Select Date" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <input matInput [matDatepicker]="picker2" (click)="picker2.open()" readonly="readonly"
                    placeholder="Select Date" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="select-box icon">
            <select placeholder="Select a option" formControlName="option">
                <option *ngFor="let item of options" value="{{item.name}}">{{item.name}}</option>
            </select>
        </div>
        <button class="submit-btn" (click)="formSubmit()">Submit</button>
    </form>
    <div class="show-search">
        <div class="show-left">
            <h4>Show</h4>
            <div class="show-select icon">
                <select name="cars" id="cars">
                    <option value="volvo">25 Entries</option>
                    <option value="saab">50 Entries</option>
                    <option value="mercedes">75 Entries</option>
                    <option value="audi">100 Entries</option>
                </select>
            </div>
        </div>
        <div class="show-left">
            <h4>Search</h4>
            <input type="text">
        </div>
    </div>
    <div>Table
        <table>
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>Date</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Balance</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>11/10/2020</td>
                    <td>100</td>
                    <td>100</td>
                    <td>100</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- <form [formGroup]="filterForm">
    <input type="text" formControlName="endDate">
    <button class="submit-btn" (click)="formSubmit($event)">Submit</button>
</form> -->

<!-- <div>
    <form [formGroup]="filterForm">
        <input type="text" formControlName="startDate">
        <input type="text" formControlName="endDate">
        <input type="text" formControlName="option">
        <button class="submit-btn" (click)="formSubmit($event)">Submit</button>
    </form>
</div> -->