<div class="transfarStatement bg-img">
    <h2 class="page-title">Open Bets</h2>
    <form [formGroup]="filterForm">
        <div class="datePicker">
            <mat-form-field color="accent" appearance="fill">
                <input matInput [matDatepicker]="picker1" (click)="picker1.open()" readonly="readonly"
                    placeholder="Select Date" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field color="accent" appearance="fill">
                <input matInput [matDatepicker]="picker2" (click)="picker2.open()" readonly="readonly"
                    placeholder="Select Date" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="select-box icon">
            <select placeholder="Select a option" (change)="remarkChange($event)">
                <option *ngFor="let item of remarkOptions;let i=index" value={{i}}>{{item.name}}</option>
            </select>
        </div>
        <button class="submit-btn" (click)="submitButton()">Submit</button>
    </form>
    <div class="show-search">
        <div class="show-left">
            <h4>Show</h4>
            <div class="show-select icon">
                <select name="cars" (change)="paginationChange($event)">
                    <option value="25">25 Entries</option>
                    <option value="50">50 Entries</option>
                    <option value="75">75 Entries</option>
                    <option value="100">100 Entries</option>
                </select>
            </div>
        </div>
        <div class="show-left">
            <h4>Search</h4>
            <input type="text">
        </div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>Date</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Balance</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of newList;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{(item.credit)? item.credit : '-'}}</td>
                    <td>{{(item.debit) ? item.debit : '-'}}</td>
                    <td>{{calculateBalance(item.debit, item.credit)}} </td>
                    <td>{{item.remark}}</td>
                </tr>
            </tbody>
            <!-- <tbody *ngIf="!newList.length">No record found</tbody> -->
         
        </table>
        <table>
            <tr>    
                <td style="text-align: center;" *ngIf="!newList.length">
                    No record found
                </td>
            </tr>
        </table>
        <div *ngIf="newList.length">
            <mat-paginator [length]="dataCount" [pageSize]="f.limit.value" (page)="paginationPageChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>