.page-title{
    font-weight: 700;
    margin-top: 0;
    font-size: 18px;
    padding: 4px 4px 4px 6px;
    margin-bottom: 1rem;
}
.accordian-section{
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -11px;
    .mat-expansion-panel-header{
        padding: 8px 13px!important;
        height: auto;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        // background-color: #0f2327;
        background-color: #000;
        mat-panel-title{
            color: #fff;
        }
    }
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
        // background-color: #0f2327;
        background-color: #000;
    }
    .mat-accordion .mat-expansion-panel{
        border-radius: 0;
        margin-bottom: 16px;
    }
  
}
::ng-deep.mat-expansion-panel-content{
    font-family: 'Lato', sans-serif;
    .mat-expansion-panel-body{
       padding: 0;
        p{
            margin: 0;
            padding: 8px 12px;
            font-size: 14px;
            color: #000;
            background-color: #fff;
        }
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                padding: 12px 12px ;
                background-color: #fff;
                margin-bottom: 4px;
                div{
                    font-size: 14px;
                    color: #000;
                    font-weight: 700;
                    span{
                        font-weight: 400;
                        display: inline-block;
                    }
                }
                .link-div{
                    color: #3c8fc5;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    
}
.mat-expansion-panel{
    background: transparent;
    box-shadow: none;
}