<div class="bg-img">
    <h2 class="page-title">Open Bets</h2>
    <div class="accordian-section">
        <mat-accordion [multi]="true" >
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Unmatched Bets
                </mat-panel-title>
               
              </mat-expansion-panel-header>
              <p>You have no unmatched bets</p>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Matched Bets
                </mat-panel-title>
                
                </mat-expansion-panel-header>
                <!-- <p>You have no Matched bets</p> -->
                <ul>
                    <li>
                        <div class="link-div">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                        <div>Abcd v Efgh</div>
                        <div>Match Odds</div>
                        <div>Placed: <span>10/7/2020 06:45:57</span></div>
                    </li>
                    <li>
                        <div class="link-div">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                        <div>Abcd v Efgh</div>
                        <div>Match Odds</div>
                        <div>Placed: <span>10/7/2020 06:45:57</span></div>
                    </li>
                </ul>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
</div>