<div class="bg-img">
    <h2 class="page-title">Open Bets</h2>
    <div class="accordian-section">
        <mat-accordion [multi]="true">
<!--             <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Unmatched Bets
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p *ngIf="!unmatchBet.length">You have no unmatched bets</p>
                <ul>
                    <li *ngFor="let item of unmatchBet">
                        <div class="link-div" (click)="goToDetailsPage(item)">{{(item.odd == 0) ? 'Back' : 'Lay'}}
                            {{item.runner_name}} for
                            {{item.stake}} @ {{item.placed_odd}} {{(item.odd == 0) ? 'to win' : 'liability'}}
                            {{(item.odd == 0) ? item.protential_profit : item.exposure}}
                        </div>
                        <div>{{item.description}}</div>
                        <div>{{item.market_type}}</div>
                        <div>Placed: <span>{{item.bet_time | date: 'dd/MM/yyyy  hh:mm:ss'}}</span></div>
                    </li>
                </ul>
            </mat-expansion-panel> -->
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Matched Bets
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p *ngIf="!matchBet.length">You have no Matched bets</p>
                <ul>
                    <li *ngFor="let item of matchBet">
                        <div [ngStyle]="{'color': item.odd == 0?'#3c8fc5':'#f3a0b3'}" class="link-div" (click)="goToDetailsPage(item)">{{(item.odd == 0) ? 'Back' : 'Lay'}}
                            {{item.runner_name}} for
                            {{item.stake}} @ {{item.placed_odd}} {{(item.odd == 0) ? 'to win' : 'liability'}}
                            {{(item.odd == 0) ? item.protential_profit : item.exposure}}
                        </div>
                        <div>{{item.description}}</div>
                        <div>{{item.market_type}}</div>
                        <div>Placed: <span>{{item.bet_time | date: 'dd/MM/yyyy  hh:mm:ss'}}</span></div>
                    </li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>