<div class="setting-wrapper bg-img">
    <div class="setting">
        <h2 class="page-title">Settings</h2>
        <h2 class="page-title title-class">One Click Settings </h2>

        <div class="toggle-button">
            <label class="switch">
                <div> Tap to turn on one click betting</div>
                <input type="checkbox" [checked]="(settingData.one_click_betting == 1)? true: false"
                    (change)="upDateOneClickBetting()">
                <span class="slider round">
                    <span class="text-span"></span>
                </span>
            </label>
        </div>

        <div class="shake-group-wrapper">
            <div class="stakes-group">
                <div *ngIf="!buttonProperty.oneClick" class="stake"
                    [ngClass]="{'readonly active' : 1==settingData.one_click_default}" (click)="changeOneClickStake(1)">
                    <div class="wrapper">
                        <p>{{settingData.one_click_op1}}</p>
                        <span *ngIf="1==settingData.one_click_default">Active Stake</span>
                    </div>
                </div>
                <input *ngIf="buttonProperty.oneClick" type="number" class="input-stake"
                    [(ngModel)]="settingData.one_click_op1">

                <div *ngIf="!buttonProperty.oneClick" class="stake"
                    [ngClass]="{'readonly active' : 2==settingData.one_click_default}" (click)="changeOneClickStake(2)">
                    <div class="wrapper">
                        <p>{{settingData.one_click_op2}}</p>
                        <span *ngIf="2==settingData.one_click_default">Active Stake</span>
                    </div>
                </div>
                <input *ngIf="buttonProperty.oneClick" type="number" class="input-stake"
                    [(ngModel)]="settingData.one_click_op2">

                <div *ngIf="!buttonProperty.oneClick" class="stake"
                    [ngClass]="{'readonly active' : 3==settingData.one_click_default}" (click)="changeOneClickStake(3)">
                    <div class="wrapper">
                        <p>{{settingData.one_click_op3}}</p>
                        <span *ngIf="3==settingData.one_click_default">Active Stake</span>
                    </div>
                </div>

                <input *ngIf="buttonProperty.oneClick" type="number" class="input-stake"
                    [(ngModel)]="settingData.one_click_op3">
            </div>
            <button *ngIf="!buttonProperty.oneClick" class="disable-class"
                (click)="buttonProperty.oneClick=true">Edit</button>
            <button *ngIf="buttonProperty.oneClick" class="disable-class" (click)="editOneClickStake()">Save</button>
        </div>

        <h2 class="page-title title-class">Edit Casino Stakes</h2>
        <div class="shake-group-wrapper">
            <div class="stakes-group">
                <div *ngIf="!buttonProperty.casinoStake" class="stake"
                    [ngClass]="{'readonly active' : 1==settingData.edit_casino_stakes_default}"
                    (click)="changeCasinoStakes(1)">
                    <div class="wrapper">
                        <p>{{settingData.edit_casino_stakes_op1}}</p>
                        <span *ngIf="1==settingData.edit_casino_stakes_default">Active
                            Stake</span>
                    </div>
                </div>
                <input *ngIf="buttonProperty.casinoStake" type="number" class="input-stake"
                    [(ngModel)]="settingData.edit_casino_stakes_op1">

                <div *ngIf="!buttonProperty.casinoStake" class="stake"
                    [ngClass]="{'readonly active' : 2==settingData.edit_casino_stakes_default}"
                    (click)="changeCasinoStakes(2)">
                    <div class="wrapper">
                        <p>{{settingData.edit_casino_stakes_op2}}</p>
                        <span *ngIf="2==settingData.edit_casino_stakes_default">Active
                            Stake</span>
                    </div>
                </div>
                <input *ngIf="buttonProperty.casinoStake" type="number" class="input-stake"
                    [(ngModel)]="settingData.edit_casino_stakes_op2">

                <div *ngIf="!buttonProperty.casinoStake" class="stake"
                    [ngClass]="{'readonly active' : 3==settingData.edit_casino_stakes_default}"
                    (click)="changeCasinoStakes(3)">
                    <div class="wrapper">
                        <p>{{settingData.edit_casino_stakes_op3}}</p>
                        <span *ngIf="3==settingData.edit_casino_stakes_default">Active
                            Stake</span>
                    </div>
                </div>
                <input *ngIf="buttonProperty.casinoStake" type="number" class="input-stake"
                    [(ngModel)]="settingData.edit_casino_stakes_op3">

            </div>
            <button *ngIf="!buttonProperty.casinoStake" (click)="buttonProperty.casinoStake=true">Edit</button>
            <button *ngIf="buttonProperty.casinoStake" (click)="editCasinoStakes()">Save</button>
        </div>
        <h2 class="page-title title-class">Edit Stakes</h2>
        <div class="shake-group-wrapper">
            <div class="stakes-group">
                <div *ngIf="!buttonProperty.stake" class="stake"
                    [ngClass]="{'readonly active' : 1==settingData.edit_stake_default}" (click)="changeStakes(1)">
                    <div class="wrapper">
                        <p>{{settingData.edit_stake_op1}}</p>
                        <span *ngIf="1==settingData.edit_stake_default">Active Stake</span>
                    </div>
                </div>
                <input *ngIf="buttonProperty.stake" type="number" class="input-stake"
                    [(ngModel)]="settingData.edit_stake_op1">

                <div *ngIf="!buttonProperty.stake" class="stake"
                    [ngClass]="{'readonly active' : 2==settingData.edit_stake_default}" (click)="changeStakes(2)">
                    <div class="wrapper">
                        <p>{{settingData.edit_stake_op2}}</p>
                        <span *ngIf="2==settingData.edit_stake_default">Active Stake</span>
                    </div>
                </div>
                <input *ngIf="buttonProperty.stake" type="number" class="input-stake"
                    [(ngModel)]="settingData.edit_stake_op2">

                <div *ngIf="!buttonProperty.stake" class="stake"
                    [ngClass]="{'readonly active' : 3==settingData.edit_stake_default}" (click)="changeStakes(3)">
                    <div class="wrapper">
                        <p>{{settingData.edit_stake_op3}}</p>
                        <span *ngIf="3==settingData.edit_stake_default">Active Stake</span>
                    </div>
                </div>
                <input *ngIf="buttonProperty.stake" type="number" class="input-stake"
                    [(ngModel)]="settingData.edit_stake_op3">

            </div>
            <button *ngIf="!buttonProperty.stake" (click)="buttonProperty.stake=true">Edit</button>
            <button *ngIf="buttonProperty.stake" (click)="editStakes()">Save</button>
        </div>
    </div>











    <div class="time-setting">
        <h2 class="page-title">Time Setting</h2>
        <div class="content">
            <div class="clock-div">
                <span class="date">{{this.selectedTime | date: 'mediumDate'}}</span>
                <span class="time">{{this.selectedTime | date: 'hh:mm:ss'}}</span>
            </div>
            <div class="options">
                <ul>
                    <li>
                        <label class="checkbox_container">System time - (GMT +00:00)
                            <input type="radio" [checked]="settingData.time_setting==1" name="radio"
                                (click)="changeTime(1)">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox_container">Your device time - (GMT +05:30)
                            <input type="radio" [checked]="settingData.time_setting==2" name="radio"
                                (click)="changeTime(2)"> <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox_container">India Standard time - (GMT +05:30)
                            <input type="radio" [checked]="settingData.time_setting==3" name="radio"
                                (click)="changeTime(3)">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="change-setting">
        <h2 class="page-title">Change Password</h2>
        <div class="input-wrapper">
            <form [formGroup]="passwordForm" (submit)="passwordSubmit()">
                <div class="input-row">
                    <input type="password" placeholder="Old Password" formControlName="password">
                    <div *ngIf="passwordFormSubmit && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Old password is required</div>
                    </div>
                </div>
                <div class="input-row">
                    <input type="password" placeholder="New Password" formControlName="newPassword">
                    <div *ngIf="passwordFormSubmit && f.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newPassword.errors.required">New password is required</div>
                    </div>
                </div>
                <div class="input-row">
                    <input type="password" placeholder="Repeat New Password" formControlName="confirmPassword">
                    <div *ngIf="passwordFormSubmit && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Confirm password not matched</div>
                    </div>
                </div>
                <button>Save</button>
            </form>
        </div>
    </div>
</div>