<div class="setting-wrapper bg-img">
    <div class="setting">
        <h2 class="page-title">Settings</h2>
        <h2 class="page-title title-class">One Click Settings </h2>

        <div class="toggle-button">
            <label class="switch">
                <div> Tap to turn on one click betting</div>
                <input type="checkbox">
                <span class="slider round">
                    <span class="text-span"></span>
                </span>
            </label>
        </div>

           <div class="shake-group-wrapper">
            <div class="stakes-group">
                <div class="stake readonly active">
                    <div class="wrapper">
                        <p>500</p>
                        <span>Active Stake</span>
                    </div>
                </div>
                <div class="stake readonly ">
                    <div class="wrapper">
                        <p>1000</p>

                    </div>
                </div>
                <div class="stake readonly ">
                    <div class="wrapper">
                        <p>1500</p>

                    </div>
                </div>
               
            </div>
           <button class="disable-class">Edit</button>
           </div>

           <h2 class="page-title title-class">Edit Casino Stakes</h2>
           <div class="shake-group-wrapper">
            <div class="stakes-group">
                <div class="stake readonly active">
                    <div class="wrapper">
                        <p>500</p>
                        <span>Active Stake</span>
                    </div>
                </div>
                <div class="stake readonly ">
                    <div class="wrapper">
                        <p>1000</p>

                    </div>
                </div>
                <div class="stake readonly ">
                    <div class="wrapper">
                        <p>1500</p>

                    </div>
                </div>
               
            </div>
           <button>Edit</button>
           </div>
           <h2 class="page-title title-class">Edit Stakes</h2>
           <div class="shake-group-wrapper">
            <div class="stakes-group">
                <div class="stake readonly active">
                    <div class="wrapper">
                        <p>500</p>
                        <span>Active Stake</span>
                    </div>
                </div>
                <div class="stake readonly ">
                    <div class="wrapper">
                        <p>1000</p>

                    </div>
                </div>
                <div class="stake readonly ">
                    <div class="wrapper">
                        <p>1500</p>

                    </div>
                </div>
               
            </div>
           <button >Edit</button>
           </div>
    </div>











    <div class="time-setting">
        <h2 class="page-title">Time Setting</h2>
        <div class="content">
            <div class="clock-div">
                <span class="date">July 17th, 2020</span>
                <span class="time">23:31:35</span>
            </div>
            <div class="options">
                <ul>
                    <li>
                        <label class="checkbox_container">System time - (GMT +00:00)
                            <input type="radio" checked="checked" name="radio">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox_container">System time - (GMT +00:00)
                            <input type="radio" checked="checked" name="radio">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="checkbox_container">System time - (GMT +00:00)
                            <input type="radio" checked="checked" name="radio">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="change-setting">
        <h2 class="page-title">Change Password</h2>
        <div class="input-wrapper">
            <div class="input-row">
                <input type="text" placeholder="Old Password">
            </div>
            <div class="input-row">
                <input type="text" placeholder="New Password">
            </div>
            <div class="input-row">
                <input type="text" placeholder="Repeat New Password">
            </div>
            <button>Save</button>
        </div>
    </div>
</div>