<div class="tab-slider--container">
 <div id="tab1" class="tab-slider--body back">
  <div>
   <div class="input-section">
    <div class="input-left">
     <div class="heading">odds</div>
     <div class="incress-decress-value">
      <button>-</button>
      <input type="text">
      <button>+</button>
     </div>
    </div>
    <div class="input-right">
     <div class="heading">stake</div>
     <div>
      <input type="text" placeholder="Max: 500,000+">
     </div>
    </div>
   </div>
   <div class="button-section">
    <button>+1000</button>
    <button>+10,000</button>
    <button>+20,000</button>
    <button>+2000</button>
    <button>+20,000</button>
    <button>+40,000</button>
   </div>
   <div class="bottom-button">
    <button (click)="canceBet()">Cancel</button>
    <button>
     <span>Place Bet</span>
     <span>Profit:0.00</span>
    </button>
   </div>
   <div class="toggle-button">
    <label class="switch">
     <div> Confirm bet before placing</div>
     <input type="checkbox">
     <span class="slider round">
      <span class="text-span"></span>
     </span>
    </label>
   </div>
  </div>
 </div>
</div>