<div class="cricket-wrapper bg-img">
  <h3>{{eventData.name}}</h3>
  <div class="section-1" *ngIf="inplayData && inplayData.length">

    <div class="in-play">
      In-play ({{inplayData.length}})
    </div>
    <ul class="match-list">
      <li *ngFor="let item of inplayData">
        <div [routerLink]="['/series/'+eventId+'/matches/'+item.competetion_id+'/match-details/'+item.match_id]">
          {{item.match_name}}</div><span></span>
      </li>
    </ul>
  </div>
  <div class="section-1">
    <div class="competitions">
      Competitions
    </div>
    <ul class="match-list">
      <li *ngFor="let item of series" (click)="setHeaderData(item)"
        [routerLink]="['/series/'+eventId+'/matches/'+item.competition.id]">
        <div>{{item.competition.name}}</div>
      </li>
    </ul>
  </div>
</div>
<!-- <ng-template #elsePart>
  <div class="cricket-wrapper bg-img">
    <h3>{{eventData.name}}</h3>
    <div class="greyhound-racing bg-img">
      <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <div class="title">
              <div>
                <div class="vanue">Newcastle</div>
                <div class="time">00:26</div>
              </div>
              <div class="info-section"></div>
            </div>
          </mat-expansion-panel-header>
          <div class="runner-run">Top 3 of 0 runners</div>
          <ul class="listing-game">
            <li>
              <div>1.Cash Point</div><span class="winner">Winner</span>
            </li>
            <li>
              <div>2. Candlelight Max</div>
            </li>
            <li>
              <div>2. Candlelight Max</div>
            </li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <div class="title">
              <div>
                <div class="vanue">Newcastle</div>
                <div class="time">00:26</div>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div class="runner-run">Top 3 of 0 runners</div>
          <ul class="listing-game">
            <li>
              <div>1.Cash Point</div>
              <div class="bet-btn-wrapper">
                <div class="bet-button back">
                  <div class="price">2.66</div>
                  <div class="market-volume">298,288</div>
                </div>
                <div class="bet-button lay">
                  <div class="price">2.66</div>
                  <div class="market-volume">298,288</div>
                </div>
              </div>
            </li>
            <li>
              <div>2.Sdindon</div>
              <div class="bet-btn-wrapper">
                <div class="bet-button back">
                  <div class="price">2.66</div>
                  <div class="market-volume">298,288</div>
                </div>
                <div class="bet-button lay">
                  <div class="price">2.66</div>
                  <div class="market-volume">298,288</div>
                </div>
              </div>
            </li>
            <li>
              <div>2.Sdindon</div>
              <div class="bet-btn-wrapper">
                <div class="bet-button back">
                  <div class="price">2.66</div>
                  <div class="market-volume">298,288</div>
                </div>
                <div class="bet-button lay">
                  <div class="price">2.66</div>
                  <div class="market-volume">298,288</div>
                </div>
              </div>
            </li>
            <li>
              <div>1.Cash Point</div>
              <div class="suspended">suspended</div>
            </li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <div class="title">
              <div>
                <div class="vanue">Newcastle</div>
                <div class="time">00:26</div>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div class="runner-run">Top 3 of 0 runners</div>
          <ul class="listing-game">
            <li>
              <div>1.Cash Point</div>
              <div class="suspended">suspended</div>
            </li>
            <li>
              <div>1.Cash Point</div>
              <div class="suspended">suspended</div>
            </li>
            <li>
              <div>1.Cash Point</div>
              <div class="suspended">suspended</div>
            </li>
          </ul>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>
</ng-template> -->

<!-- <mat-progress-spinner diameter="20" mode="determinate"></mat-progress-spinner> -->