

.section-1{
    margin-bottom: 16px;
}
.cricket-wrapper{
   padding: 15px 5px;
    font-family: 'Lato', sans-serif;
    h3{
        margin: 0;
        color: #07080a;
        font-weight: 700;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        margin-bottom: 10px;
        padding: 0 10px 0;
    }
    .in-play{
        color:#38a434;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 7px;
        padding: 0 10px 0;
    }
    .competitions{
        font-weight: 500;
        font-size: 18px;
        color: #000;
        margin-bottom: 10px;
        padding: 0 10px 0;
    }
}

.match-list{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
        padding: 13px 19px 13px 11px;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        background-color: #ffffff;
        margin-bottom: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
           display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #2f8230;
            position: relative;
            &:before{
                content: "";
    position: absolute;
    border-left: 6px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    left: 6px;
    top: 4px;
            }
            
        }
    }
}

mat-expansion-panel-header{
    pointer-events: none;
  
}
.mat-expansion-panel-header{
    padding-bottom: 13px;
    height: auto;
}
.mat-expansion-indicator.ng-trigger{
    margin-top: 12px;
}

.title{
    font-size: 16px;
    padding-top: 6px;
    color: #000;
    font-weight: 400;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .vanue{
margin-top: 5px;
    }
    .time{
        color: #666666;
        font-size: 14px;
    }
    .info-section{
        width: 30px;
        height: 30px;
        margin-right: 30px;
    }
}
.runner-run{
    font-size: 10px;
    width: calc(100% - 130px);
    padding-left: 12px;
    padding: 0 2px 5px 11px!important;
    color: #000;
}

ul.listing-game{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 41px;
        padding-top: 1px;
        padding-bottom: 1px;
        .suspended{
            width: 134px;
            line-height: 45px;
            background-color: #dddddd;
            color: #444444;
            font-size: 14px;
            text-transform: uppercase;
            height: 41px;
            text-align: center;
        }
        .bet-btn-wrapper{
            display: flex;
            .bet-button{
                padding: 6px 1px;
                line-height: normal;
                color: #000;
                text-align: center;
                    width: 66px;
                    height: 41px;
                    margin: 0 0 0 2px;
                
                &.back{
                    background-color: #a7d8fd;
                    border: 1px solid #a7d8fd;
                }
                &.lay{
                    background-color: #f9c9d4;
                    border: 1px solid #f9c9d4;
                }
                &.back.has-no-runner{
                    background-color: #e3f3fe;
                  line-height: 25px;
                  border: 1px solid #e3f3fe;
                }
                &.lay.has-no-runner{
                    background-color: #fdeef2;
                  line-height: 25px;
                  border: 1px solid #fdeef2;
                }
                .price{
                    font-size: 12px;
                    font-weight: 600;
                }
                .market-volume{
                    font-size: 9px;
                    font-weight: 400;
                }
            }
          
        }
        .winner{
            width: 136px;
            text-align: left;
        }
    }
}