<div class="dialog-content" *ngIf="!isLoading">
    <h1>{{data.description}}</h1>
    <div class="content-container">
        <h2>{{data.selectionType=='back' || data.selectionType=='yes'?'Backing':'Laying'}}
            <strong>{{data.runner_name}}</strong></h2>
        <ul>
            <li>
                <p>Odds</p>
                <p><em>{{data.odds}}</em></p>
            </li>
            <li>
                <p>Stake</p>
                <p><em>{{data.stake}}</em></p>
            </li>
            <li>
                <p>{{data.selectionType=='back'||data.selectionType=='yes'?'Profit:' : 'Liability:'}}</p>
                <p><em>{{data.p_and_l}}</em></p>
            </li>
        </ul>
        <div class="input-buttons">
            <button [mat-dialog-close]="false" analytics-on="" class="button-md-cta-secondary" ion-button=""
                type="button"><span class="button-inner">Cancel</span>
            </button>
            <button (click)="loader()" cdkFocusInitial analytics-on="" class="button-md-cta-primary"
                ion-button="" type="button">
                <span class="button-inner">
                    <span class="content action">Place Bet</span>
                    <span
                        class="content info">{{data.selectionType=='back'||data.selectionType=='yes'?'Profit:' : 'Liability:'}}:
                        {{data.p_and_l}}</span>
                </span>

            </button>
        </div>
    </div>
</div>
<div style="height: 165px;" class="dialog-content" *ngIf="isLoading">
    <div class="loader-div">
        <h5>Your bet is being processed.<br> Please Wait..</h5>
        <div class="circle-wrap readyProgress">
            <div class="circle">
                <div class="mask half">
                    <div class="fill" style="animation: roll 1s infinite"></div>
                </div>
                <div class="mask  full" style="animation: roll 1s infinite">
                    <div class="fill" style="animation: roll 1s infinite"></div>
                </div>
                <div class="inside-circle">
                    <h2>{{countDownTime}}</h2>
                </div>
            </div>
        </div>

    </div>
</div>