<div class="news-wrapper">
 <ul class="news-ul">
  <li>
   <div class="news-top-section">
    <div class="left">
     <div class="news-icon">
      <img src="assets/images/news-icon.jpg" alt="">
     </div>
     <div class="channel-name">
      <div class="channel">Cricket</div>
      <div class="channel-address">@cricket</div>
     </div>
    </div>
    <div class="icon"></div>
   </div>
   <p><span>#OnThisDay</span> in 1939, Off-spinner Haseeb Ahsan was born in Peshawar. </p>
   <p>In 12 Tests he claimed 27 wickets. He also served as Pakistan team manager and a
    selector.
   </p>
   <a href=""></a>
   <div class="img-div">
    <img src="assets/images/news.jpg" alt="">
   </div>
   <div class="img-bottom-section">
    <div class="icon-div">
     <ul>
      <li>
       <img src="assets/images/heart.svg" alt="">
      </li>
      <li>
       <img src="assets/images/download.svg" alt="">
      </li>
     </ul>
    </div>
    <div class="time-div">4m</div>
   </div>
  </li>
  <li>
   <div class="news-top-section">
    <div class="left">
     <div class="news-icon">
      <img src="assets/images/news-icon.jpg" alt="">
     </div>
     <div class="channel-name">
      <div class="channel">Cricket</div>
      <div class="channel-address">@cricket</div>
     </div>
    </div>
    <div class="icon"></div>
   </div>
   <p><span>#OnThisDay</span> in 1939, Off-spinner Haseeb Ahsan was born in Peshawar. </p>
   <p>In 12 Tests he claimed 27 wickets. He also served as Pakistan team manager and a
    selector.
   </p>
   <a href=""></a>
   <div class="img-div">
    <img src="assets/images/news.jpg" alt="">
   </div>
   <div class="img-bottom-section">
    <div class="icon-div">
     <ul>
      <li>
       <img src="assets/images/heart.svg" alt="">
      </li>
      <li>
       <img src="assets/images/download.svg" alt="">
      </li>
     </ul>
    </div>
    <div class="time-div">4m</div>
   </div>
  </li>
 </ul>
</div>