<div class="bg-img">
    <h2 class="page-title">Betting Profit & Loss</h2>
    <div class="search-section">
        <input type="text" placeholder="From">
        <input type="text" placeholder="To">
        <button>Search</button>
    </div>
    <div class="accordian-section">
        <mat-accordion [multi]="true" >
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                   <p>8th July 2020</p>
                   <div>P&L: <span>80.00</span></div>
                </mat-panel-title>
               
              </mat-expansion-panel-header>
              <p>You have no unmatched bets</p>
            </mat-expansion-panel>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <p>4th July 2020</p>
                    <div>P&L: <span>80.00</span></div>
                </mat-panel-title>
                
                </mat-expansion-panel-header>
                <!-- <p>You have no Matched bets</p> -->
                <ul>
                    <li>
                        <div class="left-side">
                            <div class="link-div">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                       
                        <div>Start time: <span>10/7/2020 06:45:57</span></div>
                        <div>Settled time: <span>10/7/2020 06:45:57</span></div>
                        </div>
                        <div class="right-side">
                            <div>
                                <span>Comm:</span>
                                <span>0.00</span>
                            </div>
                            <div>
                                <span>Net Win:</span>
                                <span class="color_green">80.00</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="left-side">
                            <div class="link-div">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                       
                        <div>Start time: <span>10/7/2020 06:45:57</span></div>
                        <div>Settled time: <span>10/7/2020 06:45:57</span></div>
                        </div>
                        <div class="right-side">
                            <div>
                                <span>Comm:</span>
                                <span>0.00</span>
                            </div>
                            <div>
                                <span>Net Win:</span>
                                <span class="color_green">80.00</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
</div>