<ul>
    <!--     <li><span><img src="assets/icons/star.svg" alt=""> </span>    My Markets</li>
    <li routerLink="/tournament">
        <i class="sport-icon apl-icon-sport-cricket"></i>
        <span><img src="assets/icons/cricket.svg" alt=""> </span> Cricket</li>
    <li><span><img src="assets/icons/football.svg" alt=""> </span>Football</li>
    <li><span><img src="assets/icons/spade.svg" alt=""> </span>Tennis</li>
    <li><span><img src="assets/icons/horse.svg" alt=""> </span>Horse Racing</li>
    <li><span><img src="assets/icons/greyhound_1.svg" alt=""> </span>Greyhound Racing</li>
    <li><span><img src="assets/icons/spade.svg" alt=""> </span> Exchange Games</li>
    <li><span><img src="assets/icons/spade.svg" alt=""> </span> Casino</li> -->
    <li [routerLink]="['/my-market']" (click)="closeNav()"><span><img src="assets/icons/star.svg" alt=""> </span> My
        Markets</li>
    <li *ngFor="let item of events" (click)="closeNav();setEventData(item)" [routerLink]="['/series/'+item.eventType]">
        <span *ngIf="item.name=='Soccer'"><img src="assets/icons/football.svg"
                alt=""></span>{{item.name=='Soccer'?item.name:''}}
        <span *ngIf="item.name=='Cricket'"><img src="assets/icons/cricket.svg" alt=""></span>
        {{item.name=='Cricket'?item.name:''}}
        <span *ngIf="item.name=='Tennis'"><img src="assets/icons/tennis.svg" alt=""></span>
        {{item.name=='Tennis'?item.name:''}}
        <span *ngIf="item.name=='Horse Racing'"><img src="assets/icons/horse.svg" alt=""></span>
        {{item.name=='Horse Racing'?item.name:''}}
        <span *ngIf="item.name=='Greyhound Racing'"><img src="assets/icons/greyhound_1.svg" alt=""></span>
        {{item.name=='Greyhound Racing'?item.name:''}}
    </li>
</ul>