




<div class="header">
    


   
    <div class="header-left">
        <button *ngIf="url[1]=='dashboard';else elsePart" class="menu-icon" (click)="toggleDrawer()"></button>
        <ng-template #elsePart>
            <button class="back-icon" (click)="backClicked()"></button>
        </ng-template>
        <div class="logo">

        </div>
    </div>
    <div class="header-right">
        <button class="search-icon"></button>
        <button class="user-icon" (click)="toggleDrawer1()"></button>
    </div>
</div>