

.header{
    // border-bottom: 1px solid #081215;
    // background: #0f2327;
    border-bottom: 1px solid #000;
    background: #000;
  
    padding: 10px;
    marquee{
        color: #fff;
        font-size: 11px;
    }
    .header-inner-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
      
    }
    .header-left{
        display: flex;
        align-items: center;
        .menu-icon{
            width: 18px;
            height: 20px;
            background-image: url(../../../../assets/images/menuIcon.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
        }
        .back-icon{
            width: 30px;
            height: 20px;
            background-image: url(../../../../assets/icons/arrow-back.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
        }
        .logo{
            width: 100px;
            height: 26px;
            // background-image: url(../../../../assets/images/logo.png);  
            background-image: url(../../../../assets/images/max66-logo.svg);
            background-size: cover;
            background-position: center;
            margin-left: 15px;
            cursor: pointer;
            -moz-user-select: inherit;
            -webkit-user-select: none;
            user-select: none;
            &:focus{
                outline: none; 
            }
        }
    }
    .header-right{
        display: flex;
        align-items: center;
        button{
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
        }
        .search-icon{
            width: 18px;
            height: 24px;
            background-image: url(../../../../assets/images/search-icon.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .user-icon{
            width: 68px;
            height: 38px;
            // background-color:#265360 ;
            background-color:#e1b513; ;
            border-radius: 2px;
           
           padding-bottom: 5px;
            margin-left: 15px;
            div{
                background-image: url(../../../../assets/images/userIcon.png);
                background-size: 13px;
                background-position: center;
                background-repeat: no-repeat;
                height: 19px;
                line-height: 0;
            }
            span{
                display: block;
                font-size: 10px;
                color: #fff;
                text-align: center;
                line-height: 10px;
            }
        }
    }
}

.searchRight{
    flex: 1;
    padding-left: 10px;
    .searchInput{
        display: flex;
        align-items: center;
        width: 100%;
        input{
            flex: 1;
            padding-right: 10px;
            background-color: transparent;
            border:0;
            color: #fff;
        }
        ::-webkit-input-placeholder { /* Edge */
            color: #fff;
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #fff;
          }
          
          ::placeholder {
            color: #fff;
          }
    }
   
}


.headerMarquee{
    display: flex;
    padding-bottom: 10px;
    .close-btn{
        padding: 0 15px;
        display: inline-block;
        text-decoration: none;
        color: #fff;
    }
}



  .logo {
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}
