

.header{
    border-bottom: 1px solid #081215;
    background: #0f2327;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .header-left{
        display: flex;
        align-items: center;
        .menu-icon{
            width: 30px;
            height: 20px;
            background-image: url(../../../../assets/images/menuIcon.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
        }
        .back-icon{
            width: 30px;
            height: 20px;
            background-image: url(../../../../assets/icons/arrow-back.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
        }
        .logo{
            width: 110px;
            height: 26px;
            // background-image: url(../../../../assets/images/logo.png);  
            background-image: url(../../../../assets/images/lotus-logo.svg);
            background-size: cover;
            background-position: center;
            margin-left: 15px;
        }
    }
    .header-right{
        display: flex;
        align-items: center;
        button{
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
        }
        .search-icon{
            width: 27px;
            height: 20px;
            background-image: url(../../../../assets/images/search-icon.png);
            background-position: center;
            background-size: cover;
        }
        .user-icon{
            width: 50px;
            height: 30px;
            background-color:#265360 ;
            border-radius: 2px;
           
           padding-bottom: 5px;
            margin-left: 15px;
            div{
                background-image: url(../../../../assets/images/userIcon.png);
                background-size: 13px;
                background-position: center;
                background-repeat: no-repeat;
                height: 19px;
                line-height: 0;
            }
            span{
                display: block;
                font-size: 10px;
                color: #fff;
                text-align: center;
                line-height: 10px;
            }
        }
    }
}

.searchRight{
    flex: 1;
    padding-left: 10px;
    .searchInput{
        display: flex;
        align-items: center;
        width: 100%;
        input{
            flex: 1;
            padding-right: 10px;
            background-color: transparent;
            border:0;
            color: #fff;
        }
        ::-webkit-input-placeholder { /* Edge */
            color: #fff;
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #fff;
          }
          
          ::placeholder {
            color: #fff;
          }
    }
   
}
