<div class="live-tab-bd">
    <!-- match odds start -->
    <ng-template [ngIf]="matchOdds && matchOdds.length && matchOdds[i] && matchesDetails && matchesDetails.length && maxBetMaxMarket['Match Odds'].status=='1'" *ngFor="let md of matchesDetails;trackBy: trackByFn;let i= index">
        <div class="market-group">
            <div class="heading">
                <div class="title">{{md.marketName}}</div>
                <div class="markets__action">
                    <div>Back</div>
                    <div>Lay</div>
                </div>
            </div>
            <ul>
                <ng-container *ngFor="let item of md.runners;trackBy: trackByFn;let j= index">
                    <li>
                        <div class="title">
                            {{item.runnerName}}
                            <span *ngIf="previous_exposure && openBetPlaceDialog && details.index==i"
                                [ngClass]="{'red-Color': previous_exposure[j]<0,'green-Color':previous_exposure[j]>0}">{{previous_exposure[j]}} >> </span>
                            <span *ngIf="current_exposure && openBetPlaceDialog && details.index==i"
                                [ngClass]="{'red-Color': current_exposure[j]<0,'green-Color':current_exposure[j]>0}">{{current_exposure[j]}}</span>
                        </div>
                        <div class="bet-btn-wrapper">
                                <div *ngIf="matchOdds[i].runners[j].ex.availableToBack.length>0; else blankBack"
                                    class="bet-button back active"
                                    (click)="openCreateBetForm(matchOdds[i].runners[j].ex.availableToBack[0].price, 'back', matchOdds[i].runners[j],matchesDetails[i].runners[j].runnerName,i,j,matchesDetails[i].marketName);openBetPlaceDialog=true;canceBetForBookMaker();canceBetForFancy()">
                                    <div class="price" *ngIf="matchOdds[i].runners[j].ex.availableToBack.length>0">
                                        {{matchOdds[i].runners[j].ex.availableToBack[0].price}}
                                    </div>
                                    <div class="market-volume">298,288</div>
                                </div>
                                <div *ngIf="matchOdds[i].runners[j].ex.availableToLay.length>0; else blankLay"
                                    class="bet-button lay active"
                                    (click)="openCreateBetForm(matchOdds[i].runners[j].ex.availableToLay[0].price, 'lay', matchOdds[i].runners[j],matchesDetails[i].runners[j].runnerName,i,j,matchesDetails[i].marketName);openBetPlaceDialog=true;canceBetForBookMaker();canceBetForFancy()">
                                    <div class="price" *ngIf="matchOdds[i].runners[j].ex.availableToLay.length>0">
                                        {{matchOdds[i].runners[j].ex.availableToLay[0].price}}
                                    </div>
                                    <div class="market-volume">298,288</div>
                                </div>
                        </div>
                    </li>
                    <app-bet-place-from class="active" *ngIf="openBetPlaceDialog && details.index==i && details.fragment==j"
                        (profit_and_liability)="set_profit_loss($event)" (betCancelled)="canceBet()"
                        [selectedItem]="selectedItem" [details]="details" [settingData]="settingData"
                        [maxBetMaxMarket]="maxBetMaxMarket['Match Odds']">
                    </app-bet-place-from>
                </ng-container>
            </ul>
        </div>
    </ng-template>
    <!-- match odds end -->
    <!-- Book Maker start -->
    <div class="market-group"
        *ngIf="matchesDetails && matchesDetails.length && bookMakerMatch && bookMakerMatch.runners && bookMakerMatch.runners.length && maxBetMaxMarket['bookmaker'].status=='1'">
        <div class="heading">
            <div class="title">Bookmaker</div>
            <div class="markets__action">
                <div>Back</div>
                <div>Lay</div>
            </div>
        </div>
        <ul>
            <!-- bookMakerMatch.runners -->
            <ng-template [ngIf]="1" *ngFor="let item of matchesDetails[0].runners;trackBy: trackByFn;let i= index">
                <li>
                    <div class="title">
                        {{matchesDetails[0].runners[i].runnerName}}
                        <span
                            *ngIf="profile_and_loss && openBetPlaceDialogForBookMaker && settingData.one_click_betting == 0"
                            [ngClass]="{'red-Color': profile_and_loss[i]<0,'green-Color':profile_and_loss[i]>=0}">{{profile_and_loss[i]}}</span>
                    </div>
                    <ng-container *ngIf="matchesDetails[0].runners.length>0;then activeMatch;else suspendMatch">
                    </ng-container>
                    <ng-template #activeMatch>
                        <div class="bet-btn-wrapper">
                            <div *ngIf="i<bookMakerMatch.runners.length;else blankBack"
                                (click)="openCreateBetForm(bookMakerMatch.runners[i].back, 'back', bookMakerMatch.runners[i],matchesDetails[0].runners[i].runnerName,i,0,'bookmaker');openBetPlaceDialogForBookMaker=true;canceBet();canceBetForFancy()"
                                class="bet-button back">
                                <div class="price">{{bookMakerMatch.runners[i].back}}</div>
                                <div class="market-volume">298,288</div>
                            </div>
                            <div *ngIf="i<bookMakerMatch.runners.length;else blankLay"
                                (click)="openCreateBetForm(bookMakerMatch.runners[i].lay, 'lay', bookMakerMatch.runners[i],matchesDetails[0].runners[i].runnerName,i,0,'bookmaker');openBetPlaceDialogForBookMaker=true;canceBet();canceBetForFancy()"
                                class="bet-button lay">
                                <div class="price">{{bookMakerMatch.runners[i].lay}}</div>
                                <div class="market-volume">298,288</div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <app-bet-place-from class="active" *ngIf="openBetPlaceDialogForBookMaker && this.details.index==i"
                    (profit_and_liability)="set_profit_loss($event)" (betCancelled)="canceBetForBookMaker()"
                    [selectedItem]="selectedItem" [details]="details" [settingData]="settingData"
                    [maxBetMaxMarket]="maxBetMaxMarket['bookmaker']">
                </app-bet-place-from>
            </ng-template>
        </ul>
    </div>
    <!-- Book Maker end -->
    <!-- fancy start -->
    <div *ngIf="fancyMatch && fancyMatch.length && maxBetMaxMarket.fancy.status=='1'" class="market-group fancy">
        <div class="heading">
            <div class="title bottom-border">Fancy</div>
            <div class="markets__action">
                <div>No</div>
                <div>Yes</div>
            </div>
        </div>
        <ul>
            <ng-template [ngIf]="1" *ngFor="let item of fancyMatch;trackBy: trackByFn;let i=index">
                <li>
                    <div class="title_Wrapper">
                        <div class="title">{{item.RunnerName}}</div>
                        <span
                            *ngIf="profile_and_loss && openBetPlaceDialogForFancy && settingData.one_click_betting == 0 && this.details.index==i"
                            [ngClass]="{'red-Color': profile_and_loss[i]<0,'green-Color':profile_and_loss[i]>=0}">{{profile_and_loss[i]}}</span>
                        <span class="ladderIcon" (click)="showLader(item.SelectionId,i)"></span>
                    </div>

                    <div class="bet-btn-wrapper">
                        <ng-container *ngIf="item.GameStatus=='';then activeMatch">
                        </ng-container>
                        <ng-container *ngIf="item.GameStatus=='Ball Running';then ballRunning">
                        </ng-container>
                        <ng-container *ngIf="item.GameStatus=='SUSPENDED';then suspendMatch">
                        </ng-container>
                        <ng-template #activeMatch>
                            <div  *ngIf="item.LaySize1!='-'; else blankLay" class="bet-button lay"
                                (click)="openCreateBetFormFancy(item.LayPrice1, 'no', item,item.RunnerName,i,'fancy');openBetPlaceDialogForFancy=true;canceBet();canceBetForBookMaker()">
                                <div class="price">{{item.LayPrice1}}</div>
                                <div class="market-volume">{{item.LaySize1}}</div>
                            </div>
                            <div  *ngIf="item.BackSize1!='-'; else blankBack" class="bet-button back"
                                (click)="openCreateBetFormFancy(item.BackPrice1, 'yes', item,item.RunnerName,i,'fancy');openBetPlaceDialogForFancy=true;canceBet();canceBetForBookMaker()">
                                <div class="price">{{item.BackPrice1}}</div>
                                <div class="market-volume">{{item.BackSize1}}</div>
                            </div>
                        </ng-template>
                    </div>
                </li>
                <app-fancy-bet-form class="active" *ngIf="openBetPlaceDialogForFancy && this.details.index===i"
                    (profit_and_liability)="set_profit_loss($event)" (betCancelled)="canceBetForFancy()"
                    [selectedItem]="selectedItem" [details]="details" [settingData]="settingData"
                    [maxBetMaxMarket]="maxBetMaxMarket['fancy']" [eventDeatils]="eventDeatils">
                </app-fancy-bet-form>
                <div class="ladderContentWrapper" *ngIf="ladderContent && this.details.index==i">
                    <div class="ladderContent">
                        <ul>
                            <li class="ladder-heading">
                                <span>Runs</span><span>P&L</span>
                            </li>
                            <ng-container *ngFor="let item of ladderTable;trackBy: trackByFn;let i=index">
                                <li *ngIf="i!=ladderTable.length-1"><span>{{item.from}}-{{item.to}}</span><span
                                        [ngClass]="{'red-Color': item.result<0,'green-Color':item.result>=0}"
                                        class="green-Color">{{item.result}}</span></li>
                                <li *ngIf="i==ladderTable.length-1">
                                    <span>{{item.from}}{{item.from!=''?'-':''}}{{item.to}}+</span><span
                                        [ngClass]="{'red-Color': item.result<0,'green-Color':item.result>=0}"
                                        class="green-Color">{{item.result}}</span></li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </ul>
    </div>
    <!-- fancy end -->
</div>

<ng-template #suspendMatch>
    <div class="suspended">suspended</div>
</ng-template>
<ng-template #ballRunning>
    <div class="suspended">Ball Running</div>
</ng-template>
<ng-template #blankBack>
    <div class="bet-button back">
        <div class="price">-</div>
    </div>
</ng-template>
<ng-template #blankLay>
    <div class="bet-button lay">
        <div class="price">-</div>
    </div>
</ng-template>