<div class="live-tab-bd">
    <!-- match odds start -->
    <div class="market-group" *ngIf="matchOdds && matchOdds.length && matchOdds[0].runners">
        <div class="heading">
            <div class="title">Match Odds</div>
            <div class="markets__action">
                <div>Back</div>
                <div>Lay</div>
            </div>
        </div>
        <ul>
            <ng-template [ngIf]="1" *ngFor="let item of matchOdds[0].runners;trackBy: trackByFn;let i= index">
                <li>
                    <div class="title" *ngIf="i<matchesDetails[0].runners.length">
                        {{matchesDetails[0].runners[i].runnerName}}
                        <span *ngIf="profile_and_loss"
                            [ngClass]="{'red-Color': profile_and_loss[i]<0,'green-Color':profile_and_loss[i]>=0}">{{profile_and_loss[i]}}</span>
                    </div>
                    <div class="bet-btn-wrapper" *ngIf="i<matchesDetails[0].runners.length">
                        <ng-container *ngIf="matchOdds[0].runners.length>0;then activeMatch;else suspendMatch">
                        </ng-container>
                        <ng-template #activeMatch>
                            <div *ngIf="item.ex.availableToBack.length>0; else blankBackLay" class="bet-button back"
                                (click)="openCreateBetForm('tab1',item.ex.availableToBack[0].price, 'back', item,matchesDetails[0].runners[i].runnerName,i);openBetPlaceDialog=true;openBetPlaceDialogForBookMaker=false">
                                <div class="price" *ngIf="item.ex.availableToBack.length>0">
                                    {{item.ex.availableToBack[0].price}}
                                </div>
                                <div class="market-volume">298,288</div>
                            </div>
                            <div *ngIf="item.ex.availableToLay.length>0; else blankBackLay" class="bet-button lay"
                                (click)="openCreateBetForm('tab2',item.ex.availableToLay[0].price, 'lay', item,matchesDetails[0].runners[i].runnerName,i);openBetPlaceDialog=true;openBetPlaceDialogForBookMaker">
                                <div class="price" *ngIf="item.ex.availableToLay.length>0">
                                    {{item.ex.availableToLay[0].price}}
                                </div>
                                <div class="market-volume">298,288</div>
                            </div>
                        </ng-template>
                    </div>
                </li>
                <app-bet-place-from *ngIf="openBetPlaceDialog && this.details.index==i"
                    (profit_and_liability)="set_profit_loss($event)" (betCancelled)="canceBet()"
                    [selectedItem]="selectedItem" [details]="details" [settingData]="settingData">
                </app-bet-place-from>
            </ng-template>
        </ul>
    </div>
    <!-- match odds end -->
    <!-- Book Maker start -->
    <div class="market-group"
        *ngIf="matchesDetails && matchesDetails.length && bookMakerMatch && bookMakerMatch.runners && bookMakerMatch.runners.length">
        <div class="heading">
            <div class="title">Bookmaker</div>
            <div class="markets__action">
                <div>Back</div>
                <div>Lay</div>
            </div>
        </div>
        <ul>
            <!-- bookMakerMatch.runners -->
            <ng-template [ngIf]="1" *ngFor="let item of matchesDetails[0].runners;trackBy: trackByFn;let i= index">
                <li>
                    <div class="title" *ngIf="i<matchesDetails[0].runners.length">
                        {{matchesDetails[0].runners[i].runnerName}}
                        <span *ngIf="profile_and_loss"
                            [ngClass]="{'red-Color': profile_and_loss[i]<0,'green-Color':profile_and_loss[i]>=0}">{{profile_and_loss[i]}}</span>
                    </div>
                    <ng-container *ngIf="matchesDetails[0].runners.length>0;then activeMatch;else suspendMatch">
                    </ng-container>
                    <ng-template #activeMatch>
                        <div class="bet-btn-wrapper">
                            <div (click)="openCreateBetForm('tab1',bookMakerMatch.runners[i].back, 'back', item,matchesDetails[0].runners[i].runnerName,i);openBetPlaceDialogForBookMaker=true;openBetPlaceDialog=false"
                                class="bet-button back">
                                <div class="price">{{bookMakerMatch.runners[i].back}}</div>
                                <div class="market-volume">298,288</div>
                            </div>
                            <div (click)="openCreateBetForm('tab1',bookMakerMatch.runners[i].lay, 'lay', item,matchesDetails[0].runners[i].runnerName,i);openBetPlaceDialogForBookMaker=true;openBetPlaceDialog=false"
                                class="bet-button lay">
                                <div class="price">{{bookMakerMatch.runners[i].lay}}</div>
                                <div class="market-volume">298,288</div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <app-bet-place-from *ngIf="openBetPlaceDialogForBookMaker && this.details.index==i"
                    (profit_and_liability)="set_profit_loss($event)" (betCancelled)="canceBetForBookMaker()"
                    [selectedItem]="selectedItem" [details]="details" [settingData]="settingData">
                </app-bet-place-from>
            </ng-template>
        </ul>
    </div>
    <!-- Book Maker end -->
    <!-- fancy start -->
    <div *ngIf="fancyMatch && fancyMatch.length" class="market-group fancy">
        <div class="heading">
            <div class="title bottom-border">Fancy</div>
            <div class="markets__action">
                <div>Back</div>
                <div>Lay</div>
            </div>
        </div>
        <ul>
            <ng-template [ngIf]="1" *ngFor="let item of fancyMatch;let i=index">
                <li>
                    <div class="title">{{item.RunnerName}}</div>
                    <div class="bet-btn-wrapper">
                        <ng-container *ngIf="fancyMatch.length>0;then activeMatch;else suspendMatch"></ng-container>
                        <ng-template #activeMatch>
                            <div *ngIf="i%4!=0; else blankBackLay" class="bet-button back"
                                (click)="openCreateBetForm('tab1',i, 'back', item)">
                                <div class="price">{{i}}</div>
                                <div class="market-volume">298,288</div>
                            </div>
                            <div *ngIf="1; else blankBackLay" class="bet-button lay"
                                (click)="openCreateBetForm('tab1',i+0.1, 'back', item)">
                                <div class="price">{{i +0.1}}</div>
                                <div class="market-volume">298,288</div>
                            </div>
                        </ng-template>
                    </div>
                </li>
                <app-bet-place-from
                    *ngIf="(item.createBetFormActive && createBetFormActive && item.createBetFormActive == createBetFormActive)"
                    (betCancelled)="canceBet()" [selectedItem]="selectedItem" [matchDetails]="matchesDetails">
                </app-bet-place-from>
            </ng-template>
        </ul>
    </div>
    <!-- fancy end -->
</div>

<ng-template #suspendMatch>
    <div class="suspended">suspended</div>
</ng-template>
<ng-template #blankBackLay>
    <div class="bet-button lay">
        <div class="price">-</div>
    </div>
</ng-template>