<div class="right-side">
    <p class="login-name">{{user.punter_user_name}}</p>
    <ul>
        <li>
            <p class="balance-info">Balance Information</p>
            <div class="content">
                <div class="group">
                    <div>Available Balance:</div>
                    <span>{{userBalance.available_balance}}</span>
                </div>
                <div class="group">
                    <div>Balance Limit:</div>
                    <span>{{userBalance.balance_limit}}</span>
                </div>
                <div class="group">
                    <div>Winnings:</div>
                    <span>{{userBalance.wining_amount}}</span>
                </div>
                <div class="group">
                    <div>Net Exposure:</div>
                    <span>{{userBalance.net_exposure}}</span>
                </div>
            </div>
        </li>
        <li [routerLink]="['/open-bets']" (click)="closeNav()">
            <p class="open-bets">Open Bets</p>
        </li>
        <li [routerLink]="['/betting-profit-and-loss']" (click)="closeNav()">
            <p class="betting-pl">Betting P&L</p>
        </li>
        <li [routerLink]="['/transfer-statement']" (click)="closeNav()">
            <p class="transfar-statement">Transfer Statement</p>
        </li>

        <li [routerLink]="['/rule-and-regulation']" (click)="closeNav()">
            <p class="rule-regulation">Rules & Regulations</p>
        </li>
        <li class="setting" [routerLink]="['/settings']" (click)="closeNav()">
            <p class="setting-icon">Settings</p>
        </li>
        <li (click)="logout()">
            <p class="signout">Sign Out</p>
        </li>
    </ul>
</div>