<div class="tab-slider--container">
 <div id="tab1" class="tab-slider--body back">
  <div>
   <div class="input-section">
    <div class="input-left">
     <div class="heading">odds</div>
     <div class="incress-decress-value">
      <button (click)="subValue();">-</button>
      <input type="number" [(ngModel)]="inputData">
      <button (click)="addValue();">+</button>
     </div>
    </div>
    <div class="input-right">
     <div class="heading">stake</div>
     <div>
      <input #stake type="text" placeholder="Max: 500,000+" (ngModelChange)="setStakeValue($event)" [(ngModel)]="stakeValue" appTwoDigitDecimaNumber>
     </div>
    </div>
   </div>
   <div class="button-section">
    <button (click)="addStakeValue(1000)">+1000</button>
    <button (click)="addStakeValue(10000)">+10,000</button>
    <button (click)="addStakeValue(20000)">+20,000</button>
    <button (click)="addStakeValue(2000)">+2000</button>
    <button (click)="addStakeValue(20000)">+20,000</button>
    <button (click)="addStakeValue(40000)">+40,000</button>
   </div>
   <div class="bottom-button">
    <button (click)="canceBet()">Cancel</button>
    <button (click)="betPlace();">
     <span>Place Bet</span>
     <span>{{(selectedItem.type === 'back') ? 'Profit:' : 'Liability:'}} {{calculatedValue}}</span>
    </button>
   </div>
   <div class="toggle-button">
    <label class="switch">
     <div> Confirm bet before placing</div>
     <input type="checkbox" [(ngModel)]="checkBoxConfirmation">
     <span class="slider round">
      <span class="text-span"></span>
     </span>
    </label>
   </div>
  </div>
 </div>
</div>