.header{
    border-bottom: 1px solid #081215;
    background: #0f2327;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .header-left{
        display: flex;
        align-items: center;
        .menu-icon{
            width: 30px;
            height: 20px;
            background-image: url(../../../../assets/images/menuIcon.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
        }
        .logo{
            width: 110px;
            height: 26px;
            background-image: url(../../../../assets/images/logo.png);
            background-size: cover;
            background-position: center;
            margin-left: 15px;
        }
    }
    .header-right{
        display: flex;
        align-items: center;
        button{
            background-color: transparent;
            border: 0;
            padding: 0;
            margin: 0;
        }
        .search-icon{
            width: 27px;
            height: 20px;
            background-image: url(../../../../assets/images/search-icon.png);
            background-position: center;
            background-size: cover;
        }
        .user-icon{
            width: 50px;
            height: 30px;
            background-color:#265360 ;
            border-radius: 2px;
            background-image: url(../../../../assets/images/userIcon.png);
            background-size: 13px;
            background-position: center;
            background-repeat: no-repeat;
            margin-left: 15px;
        }
    }
}



.detail-page{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.event-bar{
    align-items: center;
    padding: 0 16px;
    color: #fff;
    // background-color: #163439;
    background-color: #0d0d0d;
    .left-side-bar{
        display: flex;
        align-items: center;
        .event-minute{
            padding-right: 5px;
        }
    }

    .match-start-info{
        display: flex;
        flex-direction: column;
        .team-container{
            display: flex;
            align-items: center;
            span{
                width: 30px;
                height: 30px;
                font-size: 16px;
                color: #fff;
                // background-color: #0f2327;
                background-color: #000;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .team-name{
                margin-left: 5px;
                font-size: 16px;
            }
        }
    }
}

.detail-page-tab{
    flex: 1;
    ul.tabs-ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        // background-color: #0f2327;
        background-color: #000;
        li{
            // width: 25%;
            padding: 15px 22px 13px;
            // color: #5bafc0;
            color: #737373;
            text-transform: uppercase;
            white-space: nowrap;
            font-size: 10px;
            text-align: center;
            flex-grow: 1;
            &.active{
                border-bottom: 2px solid;
                color: #fff;
            }
        }
    }

    .tab-slider--body.bg-img{
        background-image: url(../../../../assets/images/bg-img.jpg);
        background-repeat: repeat;
        padding: 15px 8px;
        height: 100%;
    }
    .tab-slider--container{
        height: 100%;
    }
    .tab-slider--body{
        padding: 5px 16px 80px;
        height: 100%;
    }
}

