<div class="detail-page">

    <div class="event-bar">
        <div class="left-side-bar">
            <div class="event-minute">
                86'
            </div>
            <div class="match-start-info">
                <div class="team-container">
                    <span>0</span>
                    <div class="team-name">{{teamNames[0]}}</div>
                </div>
                <div class="team-container">
                    <span>1</span>
                    <div class="team-name">{{teamNames[1]}}</div>
                </div>
            </div>
        </div>
        <div class="right-side-bar">

        </div>
    </div>

    <div class="detail-page-tab">
        <ul class="tabs-ul">
            <li [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">
                <span>Market</span>
            </li>
            <li [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">
                <span>News</span>
            </li>
            <li [class.active]="viewMode == 'tab3'" rel="tab3" (click)="viewMode ='tab3'">
                <span>Live</span>
            </li>
            <li [class.active]="viewMode == 'tab4'" rel="tab4" (click)="viewMode ='tab4'">
                <span>Open bets({{openBetCount}})</span>
            </li>
        </ul>
        <div class="tab-slider--container " [ngSwitch]="viewMode">
            <div id="tab1" class="tab-slider--body bg-img " *ngSwitchCase="'tab1'">
                <app-market-tab [matchOdds]="matchOdds" [matchesDetails]="matchesDetails" [fancyMatch]="fancyMatch"
                    [bookMakerMatch]="bookMakerMatch" [maxBetMaxMarket]="maxBetMaxMarket">
                </app-market-tab>
            </div>
            <div id="tab2" class="tab-slider--body " *ngSwitchCase="'tab2'">
                <app-news-tab></app-news-tab>
            </div>
            <div id="tab3" class="tab-slider--body bg-img" *ngSwitchCase="'tab3'">
                <app-live-tab [matchOdds]="matchOdds" [matchesDetails]="matchesDetails" [fancyMatch]="fancyMatch"
                    [bookMakerMatch]="bookMakerMatch" [maxBetMaxMarket]="maxBetMaxMarket">
                </app-live-tab>
            </div>
            <div id="tab4" class="tab-slider--body bg-img" *ngSwitchCase="'tab4'">
                <app-open-bets *ngIf="allData" [allData]="openBetCount>0?allData:'0'"></app-open-bets>
            </div>
        </div>
    </div>
</div>