<div class="dashboard-page">
    <div class="inplay-header">
        <div class="inplay-div">In Play</div>
        <div class="open-bets">Open Bets <span>0</span></div>

    </div>
    <div class="play-section" *ngFor="let item of dataList; let i=index">
        <ng-template [ngIf]="item.inplay_data && item.inplay_data.length">
            <div class=" title">
                <span><img src="{{showIcon(item.name)}}" alt=""></span>
                {{item.name}}
            </div>

            <div class="consolidated-events" *ngFor="let eachMatch of item.inplay_data; let j=index">
                <ul class="main-ul">
                    <li>
                        <div class="competitors" routerLink="/match-detail">
                            <div class="name">{{showMatchName(eachMatch.match_name, 1)}}</div>
                            <div class="name">{{showMatchName(eachMatch.match_name, 2)}}</div>
                        </div>
                        <div class="odds-header">
                            <div>1</div>
                            <div>X</div>
                            <div>2</div>
                        </div>
                        <div class="market-odds">
                            <!-- <ul> -->
                            <ul *ngIf="eachMatch.inPlay_data && eachMatch.inPlay_data.status=='OPEN';else suspendMatch">
                                <ng-template [ngIf]="1"
                                    *ngFor="let eachItem of eachMatch.inPlay_data.runners; let i=index">
                                    <li *ngIf="eachItem.ex.availableToBack[0].price;else blankBackLay"
                                        [class.active]="(eachItem.createBetFormActive == createBetFormActive && eachItem.viewMode == 'tab1')"
                                        rel="tab1"
                                        (click)="openCreateBetForm('tab1',eachItem.back, 'back', item, eachItem)">
                                        <div class="bet-button back">
                                            <div class="price">{{eachItem.ex.availableToBack[0].price}}</div>
                                            <div class="market-volume">298,208</div>
                                        </div>
                                    </li>
                                    <li *ngIf="eachItem.ex.availableToLay[0].price;else blankBackLay"
                                        [class.active]="(eachItem.createBetFormActive == createBetFormActive && eachItem.viewMode == 'tab2')"
                                        rel="tab2"
                                        (click)="openCreateBetForm('tab2',eachItem.lay, 'lay', item, eachItem)">
                                        <div class="bet-button lay">
                                            <div class="price">{{eachItem.ex.availableToLay[0].price}}</div>
                                            <div class="market-volume">298,208</div>
                                        </div>
                                    </li>
                                    <li *ngIf="i==0 && eachMatch.inPlay_data.runners.length==2">
                                        <div class="bet-button back has-no-runner">
                                            -
                                        </div>
                                    </li>
                                    <li *ngIf="i==0 && eachMatch.inPlay_data.runners.length==2">
                                        <div class="bet-button back has-no-runner">
                                            -
                                        </div>
                                    </li>
                                </ng-template>
                            </ul>
                        </div>
                        <app-bet-place-from
                            *ngIf="(item.createBetFormActive && createBetFormActive && item.createBetFormActive == createBetFormActive)"
                            (betCancelled)="canceBet()" [selectedItem]="selectedItem">
                        </app-bet-place-from>
                    </li>
                </ul>
            </div>
        </ng-template>
    </div>
</div>

<ng-template #suspendMatch>
    <ul class="main-ul">
        <div class="market-odds width-100">
            <div class="suspended">suspended</div>
        </div>
    </ul>
</ng-template>
<ng-template #blankBackLay>
    <li>
        <div class="bet-button back has-no-runner">
            -
        </div>
    </li>
</ng-template>