<div class="accordian-section">
 <mat-accordion [multi]="true">
  <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"> -->
  <mat-expansion-panel>
   <mat-expansion-panel-header>
    <mat-panel-title>
     Unmatched Bets
    </mat-panel-title>

   </mat-expansion-panel-header>
   <p>You have no unmatched bets</p>
  </mat-expansion-panel>
  <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"> -->
  <mat-expansion-panel>
   <mat-expansion-panel-header>
    <mat-panel-title>
     Matched Bets
    </mat-panel-title>

   </mat-expansion-panel-header>
   <p>You have no Matched bets</p>
  </mat-expansion-panel>
 </mat-accordion>
</div>